# Ignore configuration files that may contain sensitive information.
local.settings.php
local.drushrc.php
local.aliases.drushrc.php
local.services.yml
*.local
project.local.yml

# Ignore paths that contain user-generated content.
docroot/sites/*/files
/files-private
docroot/sites/*/private
